/**应用商店首页**/

.app-store-content {
    width: 1180px;
    padding: 30px;
    margin: 0 auto;
    background: #fff;
    margin-top: 15px;
    margin-bottom: 5px;
}

.ap-title {
    font-size: 22px;
    color: #333;
}

.app-store-titles,
.app-store-lists {
    height: auto;
    overflow: hidden;
}

.app-store-items {
    float: left;
    width: 250px;
    color: inherit;
    margin-right: 30px;
    padding-top: 60px;
}

.app-store-lists .app-store-items img {
    border-radius: 20px;
}

.app-store-info {
    margin-left: 80px;
    padding-left: 10px;
    line-height: 20px;
}

.app-store-info h6 {
    font-size: 15px;
    color: #333;
    font-weight: bold;
}


/**应用商店详情**/

.app-store-content-new {
    padding: 0;
    background: rgba(255, 255, 255, 1);
}


.app-d-img {
    width: 95px;
    height: 95px;
    border-radius: 20px;
}

.app-e-info-list li {
    float: left;
    color: #7e7e7e;
    font-size: 13px;
    padding: 4px 0;
    width: 50%;
}

.app-detail-top-box {
    padding: 30px 0 30px 30px;
    background: #fff;
    padding-bottom: 20px;
    border-bottom: 1px solid #e7eff9;
}

.app-detail-top-r {
    float: left;
    padding-left: 20px;
}

.app-detail-top-r h3 {
    color: #030d67;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 0 15px 0;
}

.app-detail-dwords {
    color: #7a7a7a;
    line-height: 24px;
    font-size: 12px;
}

.app-detail-dwords span {
    display: inline-block;
    margin-right: 55px;
}

.icon-star {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(../images/app_store/star-on.png) no-repeat;
    margin-right: 8px;
}

.icon-grey-star {
    background: url(../images/app_store/star-off.png) no-repeat;
}

.app-try-collect-b {
    margin-top: 45px;
    margin-right: 40px;
}

.app-store-btn {
    display: inline-block;
    border-radius: 10px;
    color: #fff;
    padding: 0 26px;
    line-height: 35px;
}

.app-store-btn-blue {
    background: #3ca7df;
}

.app-store-btn-yellow {
    background: #ff7200;
}

.app-detail-d-list-box {
    padding: 30px;
}

.app-detail-d-list {
    color: #4a4a4a;
    line-height: 26px;
    padding-bottom: 30px;
}

.app-detail-d-list h6 strong {
    display: inline-block;
    border-left: 2px solid #3ca7df;
    padding-left: 10px;
    line-height: 15px;
    height: 15px;
}

.app-detail-d-list .check-old {
    color: #3ca7df;
    margin-left: 35px;
    padding-right: 32px;
    background: url(../images/app_store/icon-check01.jpg) right center no-repeat;
}

.app-detail-d-list p {
    line-height: 26px;
    color: #a5aeb9;
    padding-top: 5px;
}

.app-detail-d-list .check-old-up {
    background: url(../images/app_store/icon-check02.jpg) right center no-repeat;
}

.check-open-box {
    margin: 30px 0;
}

.check-open-box ul {
    background: url(../images/app_store/icon-timeline.png) 80px top no-repeat;
    padding-top: 34px;
}

.check-open-box ul li {
    position: relative;
    color: #aaa;
    height: auto;
    overflow: hidden;
    font-size: 12px;
}

.version-name {
    color: #747486;
}

.timeline-list {
    padding-right: 30px;
    padding-top: 30px;
    color: #838485;
}

.app-detail-point {
    position: absolute;
    left: 93px;
    top: 39px;
    width: 6px;
    height: 6px;
    background: url(../images/app_store/icon-point.png) no-repeat;
}

.app-tmlabel {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-left: 1px solid #289beb;
}

.app-tmlabel-list {
    max-width: 600px;
    height: auto;
    overflow: hidden;
}

.app-tmlabel-list label {
    padding-right: 15px;
}

.guide-app-bg {
    right: 102px;
    top: 74px;
}

.app-guide-close a {
    right: 310px;
    top: 330px;
}

.app-detail-img,
.app-dc-list-r {
    text-align: center;
}

.app-detail-img img {
    /*margin-bottom: 25px;*/
}

.app-collect-no {
    color: #787878;
    background: #ffdfc6;
    padding: 7px 12px;
}

.app-dc-list {
    border-top: 1px solid #dbdbdb;
    margin-top: 25px;
    margin-bottom: 60px;
}

.app-detail-dwords .icon-star:last-child {
    margin-right: 0;
}

.app-dc-list ul li {
    height: auto;
    overflow: hidden;
    padding: 25px 10px 20px 10px;
    border-bottom: 1px solid #dbdbdb;
    color: #4a4a4a;
}

.app-dc-list-img img {
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 100%;
}

.app-dc-list-m {
    padding-left: 20px;
}

.app-dc-list-m h6 {
    font-weight: bold;
    margin-bottom: 20px;
}

.app-dc-list-r .time {
    margin-bottom: 20px;
}

.app-comment-star {
    line-height: normal;
}

.edit-comment-box {
    width: 570px;
    height: 280px;
    background: #f1f1f1;
    padding: 30px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -315px;
    margin-top: -140px;
    box-sizing: initial;
    -moz-box-sizing: initial;
    -webkit-box-sizing: initial;
}

.edit-comment-star span {
    color: #4a4a4a;
    font-size: 12px;
    padding-right: 10px;
    line-height: 18px;
}

.app-edit-comment-close {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    background: url(../images/app_store/icon-ec-close.png) no-repeat;
}

.edit-comment-title {
    margin-top: 25px;
    margin-bottom: 20px;
    position: relative;
}

.edit-comment-title input {
    width: 99%;
    border: 1px solid #dbdbdb;
    line-height: 28px;
    padding-left: 1%;
    box-sizing: initial;
    -moz-box-sizing: initial;
    -webkit-box-sizing: initial;
}

.edit-comment-content {
    position: relative;
    margin-top: 15px;
}

.edit-comment-content textarea {
    display: block;
    width: 98%;
    resize: none;
    border: 1px solid #dbdbdb;
    line-height: 20px;
    padding: 5px 1%;
    height: 160px;
    box-sizing: initial;
    -moz-box-sizing: initial;
    -webkit-box-sizing: initial;
}

.edit-comment-submit {
    text-align: center;
    margin-top: 30px;
}

.edit-comment-submit .app-try-now {
    border-radius: 3px;
    padding: 9px 100px;
}

.app-wrong-word {
    position: absolute;
    font-size: 12px;
    color: red;
    bottom: -20px;
}

.app-role-box {
    position: fixed;
    width: 625px;
    height: 345px;
    left: 50%;
    top: 50%;
    margin-left: -312px;
    margin-top: -172px;
    background: #fff;
    border: 1px solid #e4e4e4;
    z-index: 12;
}

.app-role-box-one {
    width: 430px;
    margin-left: -215px;
}

.app-role-title {
    font-size: 20px;
    text-align: center;
    padding: 25px 0 10px 0;
}


/*2017-05-03焦点图*/

.focus {
    width: 800px;
    height: 450px;
    position: relative;
    float: left;
    margin: 50px 50px 80px 180px;
    box-shadow: 5px 0 25px #afafaf;
}

.f426x240 {
    width: 800px;
    height: 450px;
    overflow: hidden
}

.f426x240 img {
    width: 800px;
    height: 450px;
    box-shadow: 5px 0 20px #ccc;
}

.rslides {
    width: 100%;
    position: relative;
    list-style: none;
    padding: 0
}

.rslides_nav {
    height: 44px;
    width: 44px;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: -80px;
    opacity: 0.8;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    background: url(../images/app_store/icon-left-nav.png) center center no-repeat;
    margin-top: -22px;
    box-shadow: 1px 1px 3px #dadada;
    border-radius: 100%;
}

.rslides_nav:active,
.rslides_nav:hover {
    background: url(../images/app_store/icon-left-nav-on.png) center center no-repeat;
}

.rslides_nav.next {
    left: auto;
    background: url(../images/app_store/icon-right-nav.png) center center no-repeat;
    right: -80px;
}

.rslides_nav.next:active,
.rslides_nav.next:hover {
    background: url(../images/app_store/icon-right-nav-on.png) center center no-repeat;
}

.rslides_tabs {
    margin: 25px auto;
    clear: both;
    text-align: center;
    display: none;
}

.rslides_tabs li {
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 25px;
}

.rslides_tabs a {
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: rgba(0, 0, 0, .2);
    background: #dbdbdb;
    display: inline-block;
    _display: block;
    *display: block;
    width: 9px;
    height: 9px
}

.rslides_tabs .rslides_here a {
    background: #afafaf;
}


/**应用商店-评论**/

.app-try-now {
    background: #3ca7df;
    border-radius: 10px;
    color: #fff;
    padding: 7px 26px;
}


/**文档中心**/

.tab-content-p {
    padding: 20px;
}

.example-label {
    clear: both;
    margin-top: 10px;
}

.example-label li {
    display: inline-block;
    margin-right: 10px;
}

.example-label li a {
    display: block;
    width: 90px;
    text-align: center;
    line-height: 28px;
    background: #f5f5f5;
}

.function {
    color: #DD4A68;
}

.string {
    color: #690;
}

.comment {
    color: #af05cc;
}

.code-ctr {
    background: #eee;
    padding: 10px;
    margin-top: 8px;
    font-size: 14px;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
}

.example-label li.active a {
    background: #00c1de;
    color: #ffffff;
}

.doc-tab-list h3 {
    font-weight: bold;
    font-size: 14px;
    margin: 25px 0;
}

.doc-tab-list p {
    margin: 0 0 20px 0;
    color: #666666;
    line-height: 22px;
}

.doc-api-title-top {
    margin-bottom: 20px;
}

.doc-api-title-top span {
    color: #484848;
    font-size: 16px;
    line-height: 30px;
}

.doc-api-title-top a {
    display: inline-block;
    color: #999;
    text-align: center;
    font-size: 12px;
    margin-left: 5px;
    border-right: 1px solid #bcbcbc;
    padding-right: 10px;
}
.doc-api-title-top a:last-child{
    border-right: none;
    padding-right: 0;
}
.doc-api-title-top a.active {
    color: #3ca7df;
}

.doc-api-store-new-content {
    padding: 30px;
    background: rgba(255, 255, 255, 0.75);
}

.api-list-con ul {
    height: auto;
    overflow: hidden;
}

.api-list-con ul li {
    width: 24%;
    height: 152px;
    margin-right: 1.3%;
    border: 1px solid #e8e8e8;
    box-shadow: initial;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 20px;
    float: left;
    overflow: hidden;
    list-style: none;
}

.api-list-con ul li:nth-child(4n+0) {
    margin-right: 0;
}

.api-list-con li .txt {
    width: 100%;
    overflow: hidden;
    height: 0px;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
}

.api-list-con li .txt p {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    font-size: 12px;
    padding-top: 5px;
}

.api-list-con li .icon {
    height: 110px;
    margin: 29px 0;
    position: relative;
}

.api-list-con li .icon img {
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.api-list-con li h3 {
    font-size: 12px;
    color: #3ca7df;
    height: 19px;
    line-height: 19px;
    position: absolute;
    left: 0;
    right: 0;
    top: 75px;
}
.api-list-con li h3.c_f38832{
    color: #666;
}

.my-app-store-lists .app-store-items {
    padding-top: 30px;
}

.sexuality-box {
    margin-top: 8px;
}

.form-control-sex {
    display: inline-block;
    margin-right: 16px;
}

.form-control-sex span {
    margin-left: 6px;
}

.form-control-sex label.radio {
    display: inline-block;
    height: 14px;
    width: 14px;
    position: relative;
    margin: 1px 0px 5px 0;
    padding: 0;
    border: 1px solid #d5d5d5;
    border-radius: 100%;
    vertical-align: text-top;
    cursor: pointer;
    transition: all 0.2s ease;
}

.form-control-sex label.radio.on {
    background-color: #3197fc;
    border: none;
}

.form-control-sex label.radio > i.pip {
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    background-color: #3197fc;
    top: 4px;
    left: 4px;
    background-image: linear-gradient(#ffffff 0, #e7e7e7 100%);
    transform: scale(0, 0);
    transition: all 0.2s ease;
}

.replaced {
    position: absolute;
    left: -9999em;
}

.form-control-sex label.radio.on > i.pip {
    transform: scale(1, 1);
}

.head-sculpture-img-box {
    width: 400px;
}

.p-edit-tips {
    color: #ababab;
    font-size: 12px;
    line-height: 24px;
}

.head-sculpture-img {
    margin-top: 15px;
    border: 1px solid #ddd;
    width: 175px;
    height: 175px;
    padding: 10px;
    position: relative;
}

.head-portrait-inp {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -48px;
    margin-top: -15px;
}

.upload-head-portrait {
    height: 30px;
    opacity: 0;
    margin-left: -90px;
    cursor: pointer;
    margin-top: -30px;
}

.messages-btn {
    /*padding: 15px 0;*/
}

.messages-btn a {
    display: inline-block;
    background: #f3f3f3;
    color: #585858;
    padding: 6px 16px;
    float: left;
    border-right: 1px solid #fff;
    position: relative;
}

.messages-btn a.cur {
    background: #49adf2;
    color: #fff;
}

.messages-list-box ul li {
    background: #f5f5f5;
    padding: 18px 22px;
    margin-bottom: 15px;
    position: relative;
}

.messages-list-title {
    color: #2d2d2d;
    position: relative;
}

.messages-text .check-now {
    color: #49adf2;
    padding-left: 10px;
}

.messages-list-box ul li .messages-text {
    color: #848484;
    padding: 20px 0 10px 0;
    line-height: 22px;
}


/*修改密码*/

.pwd-infor-form-list {
    width: 480px;
}

.mar_none {
    margin: 0;
    padding: 0px;
}

.resetpwd-head {
    border-left: 5px solid #4d90ff;
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 30px;
    color: #4d90ff;
}

.form_group {
    margin-bottom: 20px;
}

.control_label {
    width: 80px;
    float: left;
    color: #999999;
    line-height: 14px;
    font-weight: normal;
    margin-top: 9px;
    margin-bottom: 0px;
    text-align: right;
}

.control_label span.star {
    color: #ff0000;
}

.control_element {
    position: relative;
    margin-left: 100px;
}

.control_element:after {
    content: '';
    display: block;
    clear: both;
    height: 0px;
}

.control_element .form_control {
    border: 1px solid #e7e7e7;
    padding: 8px 10px;
    color: #666;
    font-size: 12px;
    width: 100%;
    float: left;
}

.control_element .form_control:focus {
    border-color: #3ca7df;
}

.btn-blue {
    background-color: #3ca7df;
    color: #fff;
}

.btn-blue:hover,
.btn-blue:focus {
/*    background-color: #5c97f8;*/
    color: #fff;
}

.form_control_r {
    display: inline-block;
    margin-left: 10px;
}

.form_control_r a {
    line-height: 34px;
}

.error_prompt {
    display: none;
    clear: both;
    color: #f14a4a;
    font-size: 14px;
    padding-top: 5px;
}

.text_tip {
    display: inline-block;
    padding-left: 3px;
}

.lvwrap {
    background-color: #f7f7f7;
    width: 200px;
}

.lvwrap ul:after {
    content: '';
    display: block;
    clear: both;
    height: 0px;
}

.lvwrap li {
    float: left;
    width: 33.3%;
    text-align: center;
    line-height: 24px;
    border: 1px solid #e7e7e7;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
}

.lvwrap li:first-child {
    border-left: 1px solid #e7e7e7;
}

.lvwrap li:last-child {
    border-right: 1px solid #e7e7e7;
}

.lvwrap li.lv1 {
    background-color: #f14a4a;
    color: #fff;
    border-color: #f14a4a;
}

.lvwrap li.lv2 {
    background-color: #f19e3c;
    color: #fff;
    border-color: #f19e3c;
}

.lvwrap li.lv3 {
    background-color: #31bc72;
    color: #fff;
    border-color: #31bc72;
}

.sub-ok {
    text-align: center;
}

.sub-ok .glyphicon {
    background-color: #31bc72;
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    line-height: 28px;
    margin-right: 10px;
}


/**2017-09-15**/

.messages-btn {
    margin-bottom: 25px;
}

.devloper-top-status-box {
    margin-bottom: 20px;
}

.news-sd-list li {
    float: left;
    line-height: 23px;
    margin: 0 8px;
}

.news-sd-list li span {
    color: #000;
}

.news-sd-list li.active span {
    color: #3ca7df;
}

.icon-date {
    display: inline-block;
    float: left;
    width: 23px;
    height: 23px;
    background: url(../images/doc/icon-date.png);
}

.icon-status {
    display: inline-block;
    float: left;
    width: 23px;
    height: 23px;
    background: url(../images/doc/icon-status.png);
}

.news-sd-list li.active .icon-date {
    background: url(../images/doc/icon-date-on.png);
}

.news-sd-list li.active .icon-status {
    background: url(../images/doc/icon-status-on.png);
}

.unread-new {
    background: #49adf2;
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -14px;
    top: 3px;
    border-radius: 100%;
}

.administrator-replies h6 {
    margin-bottom: 15px;
    color: #49adf2;
}

.my-message-b {
    margin-top: 15px;
}

.my-message-b h6 {
    color: #333;
}

.administrator-replies p {
    background: #f0f9ff;
    padding: 12px;
    line-height: 24px;
    color: #303030;
}

.my-message-b p {
    background: #f7f7f7;
}


/**2017-09-15 api协议**/

.api-protocol-body {
    background: #fff;
}

.api-protocol-content {
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}

.api-protocol-title {
    color: #49adf2;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.api-protocol-content p {
    line-height: 30px;
    color: #303030;
}

.api-protocol-content h5 {
    font-size: 15px;
    margin: 15px 0;
}


/**2017-10-16**/

.c_49adf2,
.already-read .c_49adf2:hover,
.already-read .c_49adf2:focus {
    color: #49adf2;
}

.already-read {
    position: absolute;
    right: 23px;
    top: 29px;
}

.already-read .active,
.already-read .active:hover,
.already-read .active:focus,
.already-read .c_49adf2:visited {
    color: #ccc;
}

.icon-notice {
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: -15px;
    top: 0px;
    background: url(../images/app_store/icon-notice.png) no-repeat;
}

.first-login-content {
    margin-bottom: 0;
    min-height: 570px;
    padding: 0;
}

.first-login-content .infor-form-box {
    margin-left: 340px;
    padding-top: 30px;
}

.first-login-content .infor-form-box .email {
    margin-top: 9px;
    color: #666;
}


/**03-12新版应用中心**/

.app-store-menu-content {
    width: 392px;
    border: 1px solid #3ca7df;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 50px;
    font-size: 0;
    -webkit-text-size-adjust: none;
    background: #fff;
}

.btn-menu-dropdown {
    width: 130px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    line-height: 40px;
    border: none;
    -webkit-box-shadow: none;
    border-right: 1px solid #3ca7df;
    color: #3ca7df;
}

.btn-menu-dropdown:hover {
    color: #3ca7df;
    border-right: 1px solid #3ca7df;
}

.btn-group:last-child .btn-menu-dropdown {
    border-right: none;
    border-radius: 0 5px 5px 0;
}

.btn-group:first-child .btn-menu-dropdown {
    border-radius: 5px 0 0 5px;
}

.btn-menu-dropdown.active.focus,
.btn-menu-dropdown.active:focus,
.btn-menu-dropdown.active:hover,
.btn-menu-dropdown:active.focus,
.btn-menu-dropdown:active:focus,
.btn-menu-dropdown:active:hover,
.open > .dropdown-toggle.btn-menu-dropdown.focus,
.open > .dropdown-toggle.btn-menu-dropdown:focus,
.open > .dropdown-toggle.btn-menu-dropdown:hover,
.btn-group .btn-menu-dropdown:active,
.btn-group.open .btn-menu-dropdown {
    background-color: #3ca7df;
    border: none;
    color: #fff;
    box-shadow: none;
}

.store-new-search.active.focus,
.store-new-search.active:focus,
.store-new-search.active:hover,
.store-new-search:active.focus,
.store-new-search:active:focus,
.store-new-search:active:hover,
.open > .dropdown-toggle.store-new-search.focus,
.open > .dropdown-toggle.store-new-search:focus,
.open > .dropdown-toggle.store-new-search:hover,
.btn-group .store-new-search:active,
.btn-group.open .store-new-search {
    background-color: #fff;
    border: none;
    color: #3ca7df;
    box-shadow: none;
}

.store-dropdown-menu {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    min-width: 180px;
}

.store-dropdown-menu > li > a {
    line-height: 36px;
    color: #747474;
    font-size: 12px;
}

.store-dropdown-menu > li > a:focus,
.store-dropdown-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #3ca7df;
}

.store-dropdown-menu .divider {
    margin: 0;
    background-color: #f3f3f3;
}

.letter-dropdown-menu li {
    float: left;
    width: 25%;
}

.store-new-search-input {
    position: absolute;
    left: -261px;
}

.store-new-search-input input {
    line-height: 32px;
    width: 392px;
    text-indent: 15px;
}

.app-classify {
    width: 330px;
    height: 400px;
    background: url(../images/app_store/app-list-bg.png) no-repeat;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.app-classify.active {
    box-shadow: 0px 0px 10px 0px rgba(73, 137, 243, 0.5);
}

.app-classify-title {
    font-size: 15px;
    color: #4a4a4a;
    padding-left: 30px;
    border-bottom: 1px solid #fff;
}

.app-classify-title span {
    display: inline-block;
    line-height: 48px;
    border-bottom: 2px solid #3ca7df;
}

.app-classify-infor-list {
    padding: 0 0 0 25px;
    margin-top: 30px;
}

.app-classify-infor-list li {
    height: 74px;
    margin-bottom: 30px;
}

.new-app-infor {
    margin-left: 94px;
}

.new-app-infor p {
    color: #333333;
    font-size: 14px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 15px;
}

.new-app-infor a {
    display: inline-block;
    color: #fff;
    background: #3ca7df;
    border-radius: 10px;
    font-size: 12px;
    padding: 0 10px;
    line-height: 20px;
    margin-top: 12px;
}

#appstore-left-scrollbar {
    position: relative;
    height: 312px;
    overflow: auto;
}


/**03-19应用大厅**/

.app-store-new-content {
    width: 1180px;
    margin: 35px auto;
}

.app-store-new-left {
    width: 205px;
    float: left;
}

.app-store-new-search {
    width: 205px;
    border: 1px solid #c5caea;
    background: #fff;
    height: 36px;
}

.app-store-new-search input {
    display: block;
    float: left;
    line-height: 34px;
    text-indent: 10px;
    width: 167px;
}

.app-store-new-search-btn {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    background: url(../images/app_store/icon-search-new.png) center center no-repeat;
}

.app-store-new-left-menu {
    margin-top: 25px;
}

.app-store-new-left-title {
    background: url(../images/app_store/left-title.png) no-repeat;
    height: 31px;
    line-height: 31px;
    text-indent: 32px;
    color: #fff;
    font-size: 14px;
}

.app-store-new-left-nav {
    margin-top: 10px;
}

.app-store-new-left-nav li a {
    color: #666666;
    font-size: 12px;
    line-height: 36px;
    text-indent: 32px;
    display: block;
}

.app-store-new-left-nav li a:hover,
.app-store-new-left-nav li a.active {
    color: #3ca7df;
    background:url(../images/app_store/icon-nav-on.png) 18px center no-repeat #eaeff3;
}

.app-store-new-right {
    margin-left: 235px;
}

.classify-title {
    font-size: 14px;
    color: #484848;
    line-height: 36px;
    padding-left: 30px;
    background: url(../images/app_store/classify-icon.png) left center no-repeat;
}

.classify-app-list ul {
    overflow: hidden;
    margin-bottom: 20px;
    padding: 7px;
}

.classify-app-list ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(255,255,255, 0.6);
    padding: 25px;
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.06);
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-top: 20px;
}

.classify-app-list ul li:nth-child(3n+0) {
    margin-right: 0;
}

.classify-app-list ul li:hover {
    /*transform: scale(1.02);*/
    box-shadow: -2px 2px 8px rgba(60, 167, 223, 0.25);
}

.classify-app-images {
    margin-right: 20px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.classify-app-images img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
}

.classify-app-name {
    color: #484848;
}

.classify-app-detail a {
    display: inline-block;
    color: #3ca7df;
    border: 1px solid #3ca7df;
    background: #fff;
    border-radius: 10px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 20px;
    margin-top: 10px;
}

.classify-app-detail a:hover {
    color: #fff;
    background: #3ca7df;
}

#app-store-new-right-scrollbar {
    position: relative;
    height: 530px;
}

.noread-tips {
    display: inline-block;
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fd2727;
    border-radius: 10px;
    right: -5px;
    top: 8px;
    box-shadow: inset 0 0 1px #fd9a9a;
}

#api-list-new-right-scrollbar {
    position: relative;
    height: 510px;
}

.app-detail-nav-bar {
    height: 50px;
    line-height: 50px;
    background: #fff;
    border-bottom: 1px solid #e7eff9;
}

.app-detail-nav-bar li {
    display: inline-block;
}

.app-detail-nav-bar li a {
    padding: 8px 30px;
    background: url(../images/app_store/icon-line.jpg) center right no-repeat;
    color: #747486;
}

.app-detail-nav-bar li:last-child a {
    background: none;
}

.app-detail-nav-bar li a.cur {
    color: #3ca7df;
}

.app-detail-infor-img-box {
    border-top: 1px solid #e9eff5;
}

.focus-small {
    width: 650px;
    height: 350px;
    position: relative;
    float: left;
    margin: 40px 50px 80px 115px;
    box-shadow: 0px 0 10px #d0d0d0;
}

.f-small {
    width: 650px;
    height: 350px;
    overflow: hidden
}

.f-small img {
    width: 650px;
    height: 350px;
    box-shadow: 5px 0 20px #ccc;
}
